<div id="<%= dom_id round %>">
  <div class="card border-secondary mb-2">
    <div class="card-body">
      <strong>Question:</strong>
      <%= round.question %>
    </div>
  </div>

  <%- if round.polling? -%>
    <%- if is_active_player -%>
      <%= render "matching_rounds/form", round: round %>
    <%- else -%>
      <%= render partial: "answers/form", locals: { round: round, answer: answer } %>
    <%- end -%>
  <%- elsif round.matching? -%>
    <div
      id="answers"
      class="list-group mb-2"
      data-controller="<%= "swap" if is_active_player %>"
      data-swap-url-value="<%= round_answer_swappers_path(round, format: :json) %>"
      data-swap-name-value="answer">
      <%=
        render round.ordered_answers, is_active_player: is_active_player,
          round_completed: round.completed?
      %>
    </div>
    <%- if is_active_player -%>
      <%=
        button_to(
          "Complete Matching",
          round_completed_rounds_path(round),
          method: :post,
          class: "btn btn-danger btn-lg",
          form_class: "d-grid gap-2 col-6 mx-auto"
        )
      %>
    <%- end -%>
  <%- else -%>
    <div id="answers" class="list-group mb-2">
      <%=
        render round.ordered_answers, is_active_player: is_active_player,
          round_completed: round.completed?
      %>
    </div>
    <p>
      <%= round.player.name %>'s Score = <%= round.ordered_answers.count(&:correct?) %>
    </p>
  <%- end -%>
</div>
