<div
  id="<%= dom_id round %>"
  data-controller="rounds"
  data-rounds-active-player-id-value="<%= round.player.id %>">
  <div class="card border-secondary mb-2">
    <div class="card-body">
      <strong>Question:</strong>
      <%= round.question %>
    </div>
  </div>

  <%- if round.polling? -%>
    <%= render "matching_rounds/form", round: round %>
    <%= render partial: "answers/form", locals: { round: round, answer: answer } %>
  <%- elsif round.matching? -%>
    <div
      id="answers"
      class="list-group mb-2"
      data-controller="swap"
      data-swap-url-value="<%= round_answer_swappers_path(round, format: :json) %>"
      data-swap-name-value="answer">
      <%=
        render round.ordered_answers, round_completed: round.completed?
      %>
    </div>
    <%= render "completed_rounds/form", round: round %>
  <%- else -%>
    <div id="answers" class="list-group mb-2">
      <%=
        render round.ordered_answers, round_completed: round.completed?
      %>
    </div>
    <p>
      <%= round.player.name %>'s Score = <%= round.ordered_answers.count(&:correct?) %>
    </p>
  <%- end -%>
</div>
