<div id="<%= dom_id answer %>" class="scaffold_record">
  <p>
    <strong>Value:</strong>
    <%= answer.value %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= answer.player_id %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= answer.round_id %>
  </p>

  <p>
    <%= link_to "Show this answer", answer %>
  </p>
</div>
