<%- edit_answer = answer.persisted? && answer.valid? -%>

<%= turbo_frame_tag("answer_form") do %>
  <%- if edit_answer -%>
    <button
      class="btn btn-secondary mb-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsed_answer_form"
      aria-expanded="false"
      aria-controls="collapsed_answer_form">
      Edit Answer
    </button>
  <%- end -%>
  <div id="collapsed_answer_form" class="<%= "collapse" if edit_answer %>">
    <%=
      simple_form_for(
        [round, answer],
        wrapper: :inline_form,
        html: { class: "row row-cols-lg-auto g-3 align-items-center mb-2" },
        wrapper_mappings: { boolean: :inline_boolean }
      ) do |form|
    %>
      <%= form.input :value, label: false, input_html: { maxlength: 80 } %>

      <div class="col-12">
        <%= form.button :submit, class: "btn-primary" %>
      </div>
    <%- end -%>
  </div>
<% end %>
