<%# Question Card & Answer List %>
<%=
  render "rounds/round", round: game.current_round,
    is_guesser: game.current_player_is_guesser?
%>

<%# Participation Form %>
<%- if game.current_participant&.new_record? -%>
  <%= render "participants/form", participant: game.current_participant %>
<%- end -%>

<%# Answer Form %>
<%- if game.current_participant_answer.present? -%>
  <%= render "answers/form", answer: game.current_participant_answer %>
<% end %>

<%# Round Controls %>
<%- if game.current_player_is_guesser? -%>
  <%- if game.polling? -%>
    <%= render "matching_rounds/form", round: game.current_round %>
  <%- elsif game.matching? -%>
    <%= render "completed_rounds/form", round: game.current_round %>
  <%- end -%>
<%- end -%>

<%# Next Turn Controls %>
<%- if game.completed? -%>
  <div id="new_turn" class="d-grid gap-2">
    <%- unless game.current_player_is_guesser? -%>
      <%=
        link_to(
          "Create Next Turn",
          new_player_turn_path(game.current_player),
          method: :get,
          class: "btn btn-success btn-lg"
        )
      %>
    <%- end -%>
  </div>
<%- end -%>
