<div id="<%= dom_id game %>" class="scaffold_record">
  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

  <%= render game.rounds.last %>

  <div id="players">
    <%= render game.players %>
  </div>

  <p>
    <%= link_to "Show this game", game %>
  </p>
</div>
