<%- if notice -%>
  <div class="alert alert-danger d-flex align-items-center mt-2" role="alert">
    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
    <div><%= notice %></div>
  </div>
<%- end -%>

<%= turbo_stream_from @game.current_player, channel: PlayerChannel %>

<div class="row mt-2">
  <%= turbo_frame_tag("current_round", target: "_top", class: "col-md-10") do %>

    <%# Question Card & Answer List %>
    <%=
      render "rounds/round", round: @game.current_round,
        is_active_player: @game.active_player?
    %>

    <%# Answer Form %>
    <%- if @game.polling? && !@game.active_player? -%>
      <%= render "answers/form", answer: @game.current_player_answer %>
    <% end %>

    <%# Round Controls %>
    <%- if @game.active_player? -%>
      <%- if @game.polling? -%>
        <%= render "matching_rounds/form", round: @game.current_round %>
      <%- elsif @game.matching? -%>
        <%= render "completed_rounds/form", round: @game.current_round %>
      <%- end -%>
    <%- end -%>

    <%# Next Round Controls %>
    <%- if @game.completed? -%>
      <div id="new_round_link" class="d-grid gap-2 col-6 mx-auto">
        <%=
          link_to(
            "New Round",
            new_player_new_round_path(@game.current_player),
            class: "btn btn-success btn-lg"
          )
        %>
      </div>
    <%- end -%>

  <% end %>

  <%# Player List %>
  <div class="col-md-2">
    <strong>Players:</strong>
    <%= turbo_frame_tag("players", "data-controller": "players") do %>
      <%=
        render(
          @game.players, active_player: @game.active_player, me: @game.current_player
        )
      %>
    <% end %>
  </div>

</div>

<footer>
  <%= link_to "Create new game", root_path %>
</footer>
