<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10" id="current_round">
    <p>
      <strong>Question:</strong>
      <%= @current_round.question %>
    </p>
    <%- if @current_round.polling? -%>
      <%- if @current_player == @active_player -%>
        <%=
          button_to(
            "Begin Matching Answers",
            round_matching_rounds_path(@current_round),
            method: :post,
            class: "btn btn-danger btn-lg",
            form_class: "d-grid gap-2 col-6 mx-auto"
          )
        %>
      <%- else -%>
        <%=
          simple_form_for(
            [@answer.persisted? ? nil : @current_round, @answer],
            wrapper: :inline_form,
            html: { class: "row row-cols-lg-auto g-3 align-items-center mb-2" },
            wrapper_mappings: { boolean: :inline_boolean }
          ) do |form|
        %>
          <%= form.error_notification %>
          <%- if form.object.errors[:base].present? -%>
            <%= form.error_notification message: form.object.errors[:base].to_sentence %>
          <%- end -%>

          <%= form.input :value, label: false %>

          <div class="col-12">
            <%= form.button :submit, class: "btn-primary" %>
          </div>
        <% end %>
      <%- end -%>
    <%- elsif @current_round.matching? -%>
      <div
        id="answers"
        class="list-group mb-2"
        data-controller="<%= "swap" if @current_player == @active_player %>"
        data-swap-url-value="<%= round_answer_swappers_path(@current_round, format: :json) %>"
        data-swap-name-value="answer">
        <%- @current_round.ordered_answers.each do |answer| -%>
          <div class="list-group-item" data-swap-target="item">
            <h5 class="mb-1"><%= answer.guessed_player.name %></h5>
            <div data-id="<%= answer.id %>" class="swap-item">
              <%= answer.value %>
            </div>
          </div>
        <%- end -%>
      </div>
      <%- if @current_player == @active_player -%>
        <%=
          button_to(
            "Complete Matching",
            round_completed_rounds_path(@current_round),
            method: :post,
            class: "btn btn-danger btn-lg",
            form_class: "d-grid gap-2 col-6 mx-auto"
          )
        %>
      <%- end -%>
    <%- else -%>
      <div id="answers" class="list-group mb-2">
        <%- @current_round.ordered_answers.each do |answer| -%>
          <%- correct_match = answer.player == answer.guessed_player -%>
          <div class="list-group-item list-group-item-<%= correct_match ? "success" : "danger" %>">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                <%= answer.guessed_player.name %>
              </h5>
              <small>
              <%- if correct_match -%>
                <i class="fa-solid fa-check"></i>
              <%- else -%>
                <i class="fa-solid fa-xmark"></i>
              <%- end -%>
              </small>
            </div>
            <p class="mb-1">
              <%= answer.value %>
            </p>
            <%- unless correct_match -%>
              <small>
                <i class="fa-solid fa-minus"></i>
                <%= answer.player.name %>
              </small>
            <%- end -%>
          </div>
        <%- end -%>
      </div>
      <p>
        Total Points = <%= @current_round.ordered_answers.count(&:correct?) %>
      </p>
      <%=
        button_to(
          "Create Round",
          player_new_rounds_path(@current_round),
          class: "btn btn-primary btn-lg",
          form_class: "d-grid gap-2 col-6 mx-auto"
        )
      %>
    <%- end -%>
  </div>

  <div class="col-md-2">
    <strong>Players:</strong>
    <div id="players">
      <%- @game.players.sort_by(&:name).each do |player| -%>
        <div id="<%= dom_id player %>">
          <%- if player == @active_player -%>
            <i class="fa-solid fa-star fa-fw"></i>
          <%- else -%>
            <%- if player.current_answer.present? -%>
              <i class="fa-regular fa-square-check fa-fw"></i>
            <%- else -%>
              <i class="fa-regular fa-square fa-fw"></i>
            <%- end -%>
          <%- end -%>
          -
          <%= player.name %>
        </div>
      <%- end -%>
    </div>
  </div>
</div>

<footer>
  <%= link_to "Back to games", root_path %>
</footer>
