<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10" id="current_round">
    <%- if @current_round.polling? -%>
      <p>
        <strong>Question:</strong>
        <%= @current_round.question %>
      </p>

      <%- if @current_player == @active_player -%>
        <%=
          button_to(
            "Begin Matching Answers",
            round_matching_rounds_path(@current_round),
            method: :post,
            class: "btn btn-danger btn-lg",
            form_class: "d-grid gap-2 col-6 mx-auto"
          )
        %>
      <%- else -%>
        <%=
          simple_form_for(
            [@answer.persisted? ? nil : @current_round, @answer],
            wrapper: :inline_form,
            html: { class: "row row-cols-lg-auto g-3 align-items-center mb-2" },
            wrapper_mappings: { boolean: :inline_boolean }
          ) do |form|
        %>
          <%= form.error_notification %>
          <%- if form.object.errors[:base].present? -%>
            <%= form.error_notification message: form.object.errors[:base].to_sentence %>
          <%- end -%>

          <%= form.input :value, label: false %>

          <div class="col-12">
            <%= form.button :submit, class: "btn-primary" %>
          </div>
        <% end %>
      <%- end -%>
    <%- elsif @current_round.matching? -%>
      <div class="list-group">
        <%- @current_round.answers.each do |answer| -%>
          <div
            class="list-group-item"
            data-controller="<%= "swap" if @current_player == @active_player %>"
            data-swap-group="answers">
            <h5 class="mb-1"><%= answer.player.name %></h5>
            <div class="swap-item">
              <%= answer.value %>
            </div>
          </div>
        <%- end -%>
      </div>
      <%- if @current_player == @active_player -%>
        Button here!
      <%- end -%>
    <%- else -%>
      <%=
        button_to(
          "Create Round",
          round_new_rounds_path(@current_round),
          class: "btn btn-primary btn-lg",
          form_class: "d-grid gap-2 col-6 mx-auto"
        )
      %>
    <%- end -%>
  </div>

  <div class="col-md-2">
    <strong>Players:</strong>
    <div id="players">
      <%- @game.players.order(:name).each do |player| -%>
        <div id="<%= dom_id player %>">
          <%- if player == @active_player -%>
            ★
          <%- else -%>
            <%= player.current_answer.present? ? "☑" : "☐" %>
          <%- end -%>
          -
          <%= player.name %>
        </div>
      <%- end -%>
    </div>
  </div>
</div>

<footer>
  <%= link_to "Back to games", root_path %>
</footer>
