<p id="notice"><%= notice %></p>

<%- if @game.active_rounds? -%>
  <%= render @game.active_round %>
<%- else -%>
  <div class="d-grid gap-2">
    <%= button_to "Create Round", player_rounds_path(@player), class: "btn btn-primary" %>
  </div>
<%- end -%>

<div id="players">
  <%- @game.players.each do |player| -%>
    <div><%= player.name %></div>
  <%- end -%>
</div>

<div>
  <%= link_to "Back to games", root_path %>
</div>
