<%- add_meta_tags(current_player_id: @current_player.id) -%>

<%- if notice -%>
  <div class="alert alert-danger d-flex align-items-center mt-2" role="alert">
    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
    <div><%= notice %></div>
  </div>
<%- end -%>

<%= turbo_stream_from @game %>

<div class="row mt-2">
  <div class="col-md-10" id="current_round">
    <%=
      render @current_round, answer: @answer,
        is_active_player: @current_player == @active_player
    %>
    <%- if @current_round.completed? -%>
      <%=
        link_to(
          "New Round",
          new_player_new_round_path(@current_player),
          class: "btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto"
        )
      %>
    <%- end -%>
  </div>

  <div class="col-md-2">
    <strong>Players:</strong>
    <div id="players" data-controller="players">
      <%=
        render(@game.players, active_player: @active_player)
      %>
    </div>
  </div>
</div>

<footer>
  <%= link_to "Back to games", root_path %>
</footer>
