<%- if notice -%>
  <div class="alert alert-danger d-flex align-items-center mt-2" role="alert">
    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
    <div><%= notice %></div>
  </div>
<%- end -%>

<%= turbo_stream_from @game.current_player, channel: PlayerChannel %>

<div class="row mt-2">
  <%# Current Round View and Controls %>
  <div class="col-md-10">
    <%= render "current_round", game: @game %>
  </div>

  <%# Player List %>
  <div class="col-md-2">
    <strong>Players:</strong>
    <%= turbo_frame_tag("players", "data-controller": "players") do %>
      <%=
        render(
          @game.players, active_player: @game.active_player, me: @game.current_player
        )
      %>
    <% end %>
  </div>
</div>

<footer>
  <%= link_to "Create new game", root_path %>
</footer>
