<div id="<%= dom_id player %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= player.user_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= player.game_id %>
  </p>

  <p>
    <%= link_to "Show this player", player %>
  </p>
</div>
