<div
  id="<%= dom_id player %>"
  data-player="<%= player.id %>"
  data-sorter-target="item"
>
  <div class="d-inline player-online">
    <%= render "players/online", online: (player.online? || player == me) %>
  </div>
  <div class="d-inline player-answered">
    <%= render "players/answered", answered: player.current_answer&.persisted?.present? %>
  </div>
  <div
    class="<%= class_names("d-inline", "player-name", "is-guesser": (player == guesser)) %>"
  >
    <%= player.name %>
  </div>
  <%- if player == me -%>
    <div class="d-inline player-edit">
      <%=
        link_to(
          edit_player_path(player),
          class: "btn btn-outline-dark btn-sm ms-3",
          role: "button",
          data: { "turbo-frame": "main" }
        ) do %>
        <i class="bi bi-pencil"></i>
      <% end %>
    </div>
  <%- end -%>
</div>
