<p id="notice"><%= notice %></p>

<%= render @player %>

<div>
  <%= link_to "Edit this player", edit_player_path(@player) %> |
  <%= link_to "Back to players", game_players_path(@player.game) %>

  <%= button_to "Destroy this player", player_path(@player), method: :delete %>
</div>
