<h1>New Game</h1>

<%= simple_form_for @new_game do |form| %>
  <%= form.error_notification %>
  <%- form.object.errors.to_hash(true).except(:player_name, :question).each_value do |error_msgs| -%>
    <%= form.error_notification message: error_msgs.to_sentence %>
  <%- end -%>

  <%= form.input :player_name %>
  <%= form.input :question, as: :text %>
  <%= form.input :hide_answers, as: :boolean %>

  <div class="col-12">
    <%= form.button :submit, "Create New Game", class: "btn-primary" %>
  </div>
<% end %>
